{%load static%}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
   <meta charset="UTF-8">
   <title> TaskSync</title>
   <link rel="stylesheet" href={% static "css/style.css" %}>
   {% block extra_head %}{% endblock extra_head %}   
 <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="navbar">
      <div class="logo"><a href={% url "home" %}> Task Sync</a></div>
      <ul class="menu">
        <li><a href={% url "home" %}>Home</a></li>
        <li><a href={% url "task" %}>Tasks</a></li>
        <li><a href={% url "report" %}>Report</a></li>
        <li><a href={%url "login"%}>logout</a></li>
      </ul>
    </div>
  </nav>

<main style="margin-top: 60px;">  
  {% block content  %}
  
  
  
  {% endblock  %}
</main>  
</body>
</html>