{%load static%}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
   <meta charset="UTF-8">
   <title> TaskSync</title>
 <link rel="stylesheet" href={% static "css/style.css" %}>
  <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="navbar">
      <div class="logo"><a href="#"> Task Sync</a></div>
      <ul class="menu">
        <li><a href="#Home">Home</a></li>
        <li><a href={% url "task/" %}>Tasks</a></li>
        <li><a href="#Habits/">Habits</a></li>
        <li><a href="#report/">Report</a></li>
        <li><a href="#">logout</a></li>
      </ul>
    </div>
  </nav>
  
</body>
</html>