{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
   <div class="dashboard">
        <div class="top-section">
            <div class="box notification"><h3>PENDING TASKS</h3><br><span>
                <a href="{% url 'view_pending_task' %}">
                    <button>View Pending Task</button>
                </a>
            </span></div>
            <div class="box project"><h3>IN-PROGRESS</h3><br><span>
                <a href="{% url 'view_inprogress_task' %}">
                    <button>View In-Progress Task</button>
                </a>
            </span></div>
            <div class="box client"><h3>COMPLETED</h3><br><span>
                <a href="{% url 'view_completed_task' %}">
                    <button>View Completed Task</button>
                </a>
            </span></div>
            <div class="box create-new"><h3>ADD NEW TASK</h3><br> <span>
                <a href="{% url 'add_task' %}">
                    <button>Add New Task</button>
                </a>
            </span></div>
        </div>
        
        <div class="task-statistic">
            <div class="chart">
                <h3>TASK REPORT CHART</h3>
                
            </div>
            <div class="manage-category">
                
            </div>
        </div>
    </div>
{% endblock %}
