{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task Sync Registration</title>
  <link rel="stylesheet" href={% static "css/signup.css" %}>
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>signup</header>
     
      <div class="signup">
        <form action="" method="POST">
        <input type="text" placeholder="Enter your Username" name="username">
        <input type="password" placeholder="Create a password", name="password">
        <input type="password" placeholder="Confirm your password">
        <input type="button" class="button" value="Signup">
      </form>
      <span class="signup">Already have an account?
         <a href={% url 'login'%}>Login</a>
        </span>
         
      </div>
    </div>
    
  </div>
</body>
</html>